* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

.page-body {
  width: 80vw;
  margin: auto;
}

@media screen and (max-width: 850px) {
  .page-body {
    width: 96vw;
    margin: 2vw 2vh;
  }
}

/* Make abbr tags accessible */
/* source: https://bitsofco.de/making-abbr-work-for-touchscreen-keyboard-mouse/ */
abbr[data-title]:hover::after,
abbr[data-title]:focus::after {
  content: attr(data-title);
}

abbr[data-title] {
  position: relative;
  text-decoration: underline dotted;
}

abbr[data-title]:hover::after,
abbr[data-title]:focus::after {
  z-index: 1;
  content: attr(data-title);

  position: absolute;
  left: 0;
  bottom: -30px;
  width: auto;
  white-space: nowrap;

  background-color: #1e1e1e;
  color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
  font-size: 14px;
  padding: 3px 5px;
}
